body {
  font-family: "Open Sans", sans-serif;
  margin: 60px;
  color: #fff;
  background: linear-gradient(
    180deg,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.weather-app-wrapper {
  margin: 30px auto;
}

.weather-app {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
