.WeatherSearch {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.WeatherInfo,
.WeatherForecast {
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.Overview h1 {
  font-size: 36px;
  font-weight: 450;
  line-height: 28px;
  margin-bottom: 10px;
}

.Overview ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}

li:first-letter {
  text-transform: capitalize;
}

.weatherTemperature img {
  margin-right: 10px;
  height: 80px;
  width: 80px;
}

.weatherTemperature .temp {
  font-size: 85px;
  font-weight: 400;
  line-height: 1;
}

.weatherTemperature .units {
  position: relative;
  font-size: 16px;
  margin: 5px 0px;
}

.weatherTemperature .units a {
  text-decoration: none;
  color: antiquewhite;
}

.weatherTemperature .active {
  cursor: default;
}

.weatherTemperature .active:hover {
  text-decoration: none;
}

.WeatherInfo h1 {
  text-align: center;
  opacity: 0.9;
  margin-top: 10px;
}

.WeatherInfo .row {
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
}
