.weatherForecast {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.WeatherForecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.WeatherForecast-temperature-min {
  opacity: 0.5;
}

.WeatherForecast-temperatures {
  font-size: 13px;
}
